
/*Estilos dados por el profesor*/
@font-face {
  font-family: "museo-sans-700";
  src: url(assets/fonts/MuseoSans_700.ttf);
}

:root {
  --nintendo-font: "museo-sans-700", -apple-system, BlinkMacSystemFont,
    sans-serif;
  --color-font: rgb(72, 72, 72);
  --font-weight-nintendo: 700;
  --font-size-text: 0.875rem;
  --line-text: 1.4;
}

body {
  font-family: var(--nintendo-font);
  color: var(--color-font);
  line-height: var(--line-text);
}
/* Estilo del header y Menus*/
.header-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  height: 52px;
}

.header-logo-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-logo-container {
  padding: 0 20px;
  width: 105px;
  height: 52px;
  background-color: rgb(230, 0, 18);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: white;
}

.header-list-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.header-li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding: 14px 0;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}


* {
  padding: 0;
  margin: 0;
}

.header-icon {
  transition: all 0.3s ease-in-out;
}

.header-formulario {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(72, 72, 72);
  padding: 2px 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.header-formulario:hover {
  border-bottom: 1px solid rgb(230, 0, 18);
}
.header-formulario:hover .header-svg-form {
  fill: rgb(230, 0, 18);
}

.header-formulario .header-selector,
.header-input {
  border: none;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: inherit;
  color: #484848;
}

.header-formulario .header-selector:hover,
.header-input {
  color: rgb(230, 0, 18);
}
.header-input::placeholder {
  color: #727272;
  font-weight: 100;
  font-family: inherit;
  font-size: 0.875rem;
}
.header-input:hover::placeholder {
  color: rgb(230, 0, 18);
}

.header-search-button {
  background: none;
  border: none;
  color: rgb(114, 114, 114);
  cursor: pointer;
  line-height: 1.5;
  padding: 0px;
  transition: all 0.3s ease-in-out;
}

.header-hidden .header-a-hidden {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.header-menu2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.header-btn-menu2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: inherit;
  color: #484848;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header-btn-menu2:hover {
  color: rgb(230, 0, 18);
}

.header-btn-menu2:hover .header-svg-btn {
  fill: rgb(230, 0, 18);
}

.header-a-normal {
  text-decoration: none;
  color: #484848;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}

.header-a-normal:hover {
  color: rgb(230, 0, 18);
}

.header-a-normal:hover .header-svg-a {
  fill: rgb(230, 0, 18);
}

.header-svg-a {
  fill: #484848;
  transition: all 0.3s ease-in-out;
}

.header-bandera {
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.header-menu-resp-container {
  display: none;
}
/*haciendo el responsive*/
@media (max-width: 1025px) {
  .header-header {
    background-color: rgb(230, 0, 18);
  }
  .header-menu2,
  .header-formulario,
  .header-hidden {
    display: none;
  }

  .header-menu-resp-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-menu-responsive {
    position: relative;
    height: 58px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    padding: 0 36px;
    bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    box-shadow: rgba(52, 24, 24, 0.2) 0px 0.25rem 0.5rem 0px;
  }

  .header-menu-responsive .header-btn-normal-resp {
    border: none;
    cursor: pointer;
    background-color: #fff;
  }

  .header-red-btn {
    border: none;
    border-radius: inherit;
    background-color: rgb(230, 0, 18);
    padding: 15px;
    margin-top: -20px;
  }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(25, 40, 95), rgb(60, 79, 150)) 0% 0% / cover
      repeat;
    padding: 20px;
  }
  
  .offer-info {
    padding: 100px 20px 20px 20px;
    display: flex;
    flex-direction: row;
  }
  
  .shop{
    background-color: rgb(230, 0, 18);
    border:none;
    transform: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    padding: 8px 15px !important;
  }

  .shop:hover{
    background-color: rgb(133, 0, 0);
    transform: scaleX(1.05) scaleY(1.05) translatez(0px);
  }
  
  .texto{
    color: rgb(72, 72, 72);
    text-align: start;
    margin-right: 20px;
  }
  
  .img-banner {
    margin-bottom: -100px;
    border-radius: 10px;
  }

