/* Global de la pagina */

*, ::before, ::after{
    box-sizing: border-box;
}

html, body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: rgb(72, 72, 72);
    -webkit-font-smoothing: antialiased;
}

section{
    display: block;
}

/*Footer*/

@media (min-width: 1025px) {
    :root {
        --border-radius-small: 0.75rem;
        --border-radius: 1rem;
    }
}

:root {
    --border-radius-small: 0.5rem;
    --border-radius: 0.75rem;
}


/*Estilos Section*/

.bannerRedes{
    background-color: rgb(230, 0, 18);
    padding: 2.25rem 1rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
}

/*Estilos DIV*/



.bannerRedes .footerStyles1{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    /* -webkit-box-align: center; */
    width: 100%;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 2rem;
}
.elementBanner{
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footerStyles2{
    display: flex;
    gap: 60px;
    align-items: center;
}

/*ATRIBUTOS PRIMER <A> (LOGO NINTENDO)*/


/* .bannerRedes .footerStyles1 > :first-child {
    grid-column: span 4;
    /* justify-self: center;
}
 */
a{
    color: inherit;
    text-decoration: none;
}

/*ATRIBUTOS PRIMER SVG (LOGO NINTENDO)*/

.bannerRedes .footerStyles1 a svg {
    display: block;
}

/*ATRIBUTOS SEGUNDO <A> (LOGO FACEBOOK)*/
a {
    color: inherit;
    text-decoration: none;
}
