.ch-separacion{
    width: 100%;
    margin: 0px;
    position: relative;
    z-index: 5;
    border-width: 0.0625rem 0px 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
    border-left-style: initial;
    border-left-color: initial;
    border-right-style: initial;
    border-right-color: initial;
    border-top-style: solid;
    border-top-color: rgb(218, 218, 218);
}

/* SECTION QUE ENGLOBA TODO */

.ch-characters{
    position: relative;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    scroll-margin-top: 120px;
}



.ch-margs{
    margin-left: auto;
    margin-right: auto;
}



.ch-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}



/*! TITULO CHARACTERS */

/* POSICION */

.ch-title-position{
    grid-column: 1 / span 4;
}


/* ESTILO */

.ch-title{
    font-weight: 700;
    margin-block: 0px;
    line-height: 1.35;
    font-size: 1.75rem;
    letter-spacing: 0px;
    margin: 0px 0px 1em;
    padding: 0px;
}



/* ESTRUCTURA MARIO */

.ch-item{
    display: flex;
    flex-direction: column;
}

.ch-link-anchor{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
}

.ch-link-anchor:hover .ch-personaje-img{
    transform: scale(1.2);
}

.ch-link-anchor:hover .ch-fondo-imagen{
    transform: scale(1);
}

.ch-img-global{
    width: 100%;
    position: relative;
}

.ch-primer-div{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: ease-in-out 200ms;
}

.ch-fondo-imagen{
    display: block;
    min-height: 1px;
    width: 100%;
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
}

.ch-segundo-div{
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: ease-in-out 200ms;
}

.ch-personaje-img{
    display: block;
    min-height: 1px;
    width: 100%;
    transition: all 300ms ease-in-out;
}

.ch-text-bottom-img{
    font-weight: 700;
    margin-block: 0px;
    font-size: 1.3125rem;
}

@media (max-width: 768px){
    .ch-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .ch-title-position{
        grid-column: 1 / span 2;
    }
    .ch-characters{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }   
}

@media (max-width: 429px){
    .ch-title{
        font-size: 1.30rem;
    }
    .ch-text-bottom-img{
        font-size: 1.125rem;
    }
}


/* .fondo-imagen:hover{
    transform: scale(0.8)
}

.personaje-img:hover{
    transform: scale(1.2);
} */