:root {
  --color-primary: rgb(230, 0, 18);
  --color-secondary: rgb(172, 0, 13);
  --color-gray: rgb(72, 72, 72);
  --color-dark-gray: rgb(48,48,48);
  --border-radius: 12px;
  --border-radius-small: 8px;
  --transition-duration: 300ms;
  --section-margin: 32px;
  --focus-dash-outline: rgb(150, 150, 150) dashed 3px;
  --button-focus-box-shadow: rgba(230, 0, 18, 0.298) 0px 0px 0px 4px;

  @media (min-width: 768px) {
    --section-margin: 48px;
  }

  @media (min-width: 1025px) {
    & {
      --border-radius: 16px;
      --border-radius-small: 12px;
    }
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
}

.section-container {
  padding: 0 16px;
  max-width: 1144px;
  margin: var(--section-margin) auto;
}

hr {
  border: none;
  border-top: 0.0625rem solid rgb(218, 218, 218);
  width: 100%;
}

a.red-link-button {
    padding: 11.5px 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    font-size: 1.125rem;
    text-wrap: nowrap;
    color: white;
    border-radius: var(--border-radius-small);
    font-weight: var(--font-weight-nintendo);
    max-width: 100%;
    
    @media (min-width: 1025px) {
        & {
            width: fit-content;
        }
    }

    &:focus-visible {
        outline: none;
        &::before {
          box-shadow: var(--button-focus-box-shadow);
        }
    }
}

.bounce-button {
    position: relative;
    
    svg {
      width: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary);
      border-radius: var(--border-radius-small);
      transition: background-color 300ms,
                  scale 100ms linear;
      z-index: -1;
    }

    &:hover::before {
      background-color: var(--color-secondary);
      scale: 1.05;
      transition: background-color 300ms,
                  scale 350ms cubic-bezier(.6, 3.5, .40, -1.390)
    }

}