
/* Featured */

section.featured {
    margin: var(--section-margin) 0;
    position: relative;
}

section.featured h2 {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 16px;
}

section.featured button{
    top: 40px;
}

.digital{
    position: relative;
}
.featured-section{
    display: flex;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: scroll;
    height: 375px;
    align-items: flex-end;
    gap: 32px;
    padding-left: 16px;
}

.feature{
    width: 262px;
    min-height: 311.25px;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    box-sizing: content-box;
    border-color: lightgray;
    padding-bottom: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 300ms ease-in-out;
}

.feature:hover h5{
    color: rgb(230,0,18);
    transition-duration: 500ms;
}

.feature:hover{
    padding-top: 20px;
} 

.feature:hover img{
    transform: translateY(-20px);
}

.category{
    font-size: 14px;
    color: rgb(72,72,72);
    margin-top: 0px
}

.feature img{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    /* position: relative; */

    transition: 300ms ease-in-out;
}

.feature h5{
    font-size: 16px;
    color: rgb(72,72,72);
    height: 40px;
    margin: 16px;
    margin-top: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.feature div{
    margin-right: 16px;
    margin-left: 16px;
}

.pre-order-tag{
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: rgb(75,92,206);
    max-width: 95px;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
}

.available-now-tag{
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: rgb(230,0,18);
    max-width: 95px;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
}

.shop-now-tag{
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: rgb(230,0,18);
    max-width: 70px;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
}

.learn-more-tag{
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: rgb(75,92,206);
    max-width: 80px;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
}

.free-demo-tag{
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: rgb(75,92,206);
    max-width: 75px;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
}

.new-tag{
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: rgb(75,92,206);
    max-width: 45px;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
}

.dlcbundle-tag{
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: #9531B9;
    max-width: 80px;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
}

.dlc-tag{
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: #9531B9;
    max-width: 40px;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
}

.saleend-tag{
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: rgb(230,0,18);
    max-width: 115px;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
}

.redbar{
    font-weight: bolder;
    color: rgb(230,0,18);
    font-size: 18px;
}

/* Digital Best Sellers */

.dbs-section{
    display: flex;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: scroll;
    height: 390px;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-right: 5px;
    box-sizing: content-box;
}

.dbs-section * {
    text-decoration: none;
}

.dbs{
    width: 262px;
    height: 311.25px;
    margin-right: 16px;
    margin-left: 16px;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: lightgray;
    margin-bottom: 29px;
    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 300ms ease-in-out;
}

.lrg{
    height: 340.25px; 
    margin-bottom: 0px;
}


.dbs h5{
    font-size: 16px;
    color: rgb(72,72,72);
    
    margin: 0px;
    margin-top: 5px;
    display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    
}

.dbs image{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    /* position: relative; */

    transition: 300ms ease-in-out;
}

.dbs:hover{
    padding-top: 20px;
} 

.dbs:hover img{
    transform: translateY(-20px);
}

.dbs:hover h5{
    color: rgb(230,0,18);
    transition-duration: 500ms;
}

.dbs:hover img{
    transform: translateY(-20px);
    transition: 300ms ease-in-out;
}

.firsthalf{
    margin: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.firsthalf p{
    margin:0;
    font-size: 12px;
    color: var(--color-font);
}

.lrg .firsthalf p{
    height: 30px;
}

.lrgdob .firsthalf p{
height: auto;

}

.lrgdob .firsthalf h5{
    margin-top: 10px;
}

.dob .firsthalf h5{
    margin-top: 20px;
}

.secondhalf{
    margin: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.price{
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 6px;
    color: #484848;
}

.dbs img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;

    transition: 300ms ease-in-out;
}

.tm{
    vertical-align:super;  
    font-size: 10px;  
}

.tach{
 font-size: 11px;
 text-decoration:line-through;
}

svg:has(.heart){
    height: 50px;
    width: 50px;
    color: rgb(230,0,18);
    transition: 300ms ease-in-out;
}

svg:has(.heart):hover{
    color: #AC000D;
}

.discount{
    display: flex;
    justify-content: flex-start !important;
}

.discount-label {
    background-color: rgb(230,0,18);
    color: white;
    clip-path: polygon( 6px 0, 100% 0, 100% 100%, 6px 100%, 5.86px 100%, 5.86px 100%, 5.724px 99.967%, 5.59px 99.869%, 5.458px 99.707%, 5.329px 99.483%, 5.203px 99.198%, 5.081px 98.854%, 4.964px 98.452%, 4.852px 97.994%, 4.746px 97.481%, 4.646px 96.915%, 0.506px 71.525%, 0.506px 71.525%, 0.413px 70.909%, 0.329px 70.253%, 0.254px 69.562%, 0.189px 68.838%, 0.133px 68.086%, 0.086px 67.309%, 0.05px 66.511%, 0.024px 65.695%, 0.009px 64.865%, 0.004px 64.025%, 0.028px 35.89%, 0.028px 35.89%, 0.034px 35.065%, 0.05px 34.25%, 0.077px 33.449%, 0.113px 32.666%, 0.159px 31.903%, 0.215px 31.165%, 0.279px 30.454%, 0.353px 29.774%, 0.436px 29.128%, 0.527px 28.52%, 4.646px 3.105%, 4.646px 3.105%, 4.746px 2.536%, 4.852px 2.02%, 4.964px 1.559%, 5.082px 1.155%, 5.203px 0.808%, 5.329px 0.521%, 5.459px 0.296%, 5.591px 0.132%, 5.726px 0.033%, 5.863px 0, 6px 0 );
    padding-left: 6px;
    padding-right: 2px;
    border-radius: 0 2px 2px 0;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
}

.secondhalf div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.digital .red-link-button {
    height: 340.25px;
    padding-block: 0;
    align-items: center;
}

.scroll-right, .scroll-left{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: bold;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 380px;
    min-width: 70px;

    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: transparent;
    top: 80px;
    transition: 300ms ease-in-out;
}

.scroll-left:disabled, .scroll-right:disabled {
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in-out, visibility 0ms 300ms;
}

.scroll-right:hover, .scroll-left:hover{
    background-color: rgba(0, 0, 0, 0.6);
}


.scroll-right{
   right: 0;
}

.scroll-left{
    left: 0;
}

.digititle{
    display: flex;
    align-items: center;
}

.digititle h2{
    font-size: 1.75rem;
    padding-right: 16px;
    margin-right: 16px;

    margin-top: 10px;
    margin-bottom: 10px;

    border-right-style: solid;
    border-width: 1px;
    border-color: #DADADA;

}

.digititle a{
    font-weight: bolder;
    text-decoration-thickness: 2px;
    font-size: 15px;
    color: rgb(230,0,18);

    transition: 300ms ease-in-out;

}

.digititle a:hover{
    
    color: #AC000D;
}

.rail {
    overflow-x: hidden;
    padding-bottom: 16px;
}

.rail button {
    cursor: pointer;
}

@media (min-width: 768px) {
    .featured-section {
        padding-inline: 32px;
    }
}