.news-section {

  h2 {
    font-size: 1.75rem;
  }

  .news-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 24px 0;

    @media (min-width: 768px) {
      & {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        margin: 32px 0;
      }
    }

  }

  .new-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding-bottom: 16px;
    color: inherit;
    text-decoration: none;
    border-radius: var(--border-radius);

    img {
      width: 100%;
      border-radius: var(--border-radius);
      margin-bottom: 10px;
      transition: filter var(--transition-duration) ease-in-out;
    }

    time {
      display: block;
      font-weight: 300;
      padding-bottom: 10px;
    }

    h3 {
      font-size: 1rem;
      transition: color var(--transition-duration) ease-in-out;
      margin-bottom: 12px;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 300;
      color: var(--color-gray);
      margin-bottom: 16px;
    }

    footer span {
      color: var(--color-primary);
      border-bottom: 2px solid var(--color-primary);
      width: auto;
      font-weight: 700;
      transition: color var(--transition-duration) ease-out;
    }

    &.portait {
      grid-column: auto / span 2;

      h3 {
        font-size: 1.125rem;
      }
    }

    &:hover {
      img {
        filter: brightness(.7);
      }

      h3 {
        color: var(--color-primary)
      }

      footer span {
        color: var(--color-secondary);
        border-color: var(--color-secondary);
      }
    }

    &:focus-visible {
      outline: var(--focus-dash-outline);
    }

  }

}